{% extends 'base.html' %}

{% block page_heading %}Unicorn Attractor{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 section-box">
        <!-- Out Mission section -->
        <div class="row">
            <div class="col-xs-12">
                <h4>Our Mission</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <article>
                    Here at the UnicornAttractor, we are dedicated to our customers and promise to always work hard,
                    ensuring you. the customer, has the best possible experience with the app. If you are experiencing
                    any bugs, or wish to request a new feature, log in and visit the tracker!
                </article>
                <br>
                <article>
                    We promise to spend 50% of our time on the highest paid feature request currently open, and the
                    other 50% we will work on squishing those bugs we all hate.
                </article>
                <br>
                <article>
                    All pledges go towards to running of the app, and
                    for the time spent working on new features.
                </article>
            </div>
        </div>
        <hr>
        <!-- Description section / landing page -->
        <div class="row">
            <div class="col-xs-12">
                <h4>About the app</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <article>
                    If, like millions around the world, you have a burning desire to track down the most majestic of all
                    creatures, the Unicorn, then look no further! The UnicornAttractor has what you need!
                </article>
                <br>
                <article>
                    Why waste your valuable time hunting down the fabled equine when they can come right to you, leaving
                    you time to take stock of all your precious Unicorn memorabilia. With the UnicornAttractor, you stay right
                    where you are! The super long-wave electronic radio beta magnetronic waves are able to bend reality,
                    bringing the Unicorn right to you!
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Review section -->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 section-box">
        <div class="row">
            <div class="col-xs-12">
                <h4>Testimonials</h4>
            </div>
        </div>
        <hr>
        <div class="page-section">
            <div class="row review-section">
                <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
                    <img class="user-avatar"
                        src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg"
                        alt="default user image">
                </div>
                <div class="col-xs-12 col-sm-9 review-text">
                    <span>"This is the single greatest app ever created. No other app compares!"
                    </span>
                    <p><strong>- UnicornFan</strong></p>
                </div>
            </div>
            <hr class="hidden-xs spacer-small">
            <div class="row review-section">
                <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
                    <img class="user-avatar"
                        src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg"
                        alt="default user image">
                </div>
                <div class="col-xs-12 col-sm-9 review-text">
                    <span>"Having this app has changed my life. Unicorns are real and now we have proof"
                    </span>
                    <p><strong>- UnicornQueen123</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}