language: python
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
install: "pip install -r requirements.txt"
script:
- SECRET_KEY="secret" coverage run manage.py test
after_success:
  - codecov