{% extends 'base.html' %}
{% block page_heading %}Email sent!{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 section-box">
        <p class="info-text">If the email provided matches an account we hold, instructions detailing how you can reset your password will be sent to you</p>
        <p class="info-text">If you don't receive an email, please ensure you entered the correct email address</p>
    </div>
</div>
{% endblock %}