{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Attractor</title>

    <!-- CSS calls -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JS calls -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- Page specific JS calls -->
    {% block head_js %}
    {% endblock %}
</head>

<body>

    <!-- Navbar taken from Bootstrap 3.3.7-->
    <nav class="navbar navbar-default" id="top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">UnicornAttractor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for a ticket">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Issue Tracker</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><i class="glyphicon glyphicon-user"></i><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Register</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page specific content -->
    <section>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer>
        <div class="container footer-section">
            <div class="row">
                <div class="col-xs-4 content-left">
                    <a class="navbar-brand" href="#">UnicornAttractor</a>
                </div>
                <div class="col-xs-4 content-center">
                    <a href="#top">Back to top</a>
                </div>
                <div class="col-xs-4">
                    <ul>
                        <p><strong>Navigation</strong></p>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Issue Tracker</a></li>
                        <li><a href="#">Analytics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>