{% extends 'base.html' %}

{% block page_heading %}Log in{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4 section-box">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ login_form.username.errors}}
                    {{ login_form.username.label_tag }}
                    {{ login_form.username}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ login_form.password.errors}}
                    {{ login_form.password.label_tag }}
                    {{ login_form.password}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Log in</button>
                    <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}