{% extends 'base.html' %}
{% block page_heading %}Register{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        <form method='POST'>
            {% csrf_token %}

            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ registration_form.username.errors}}
                    {{ registration_form.username.label_tag }}
                    {{ registration_form.username}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-input">
                    {{ registration_form.first_name.errors }}
                    {{ registration_form.first_name.label_tag }}
                    {{ registration_form.first_name }}
                </div>
                <div class="col-xs-6 form-input">
                    {{ registration_form.last_name.errors }}
                    {{ registration_form.last_name.label_tag }}
                    {{ registration_form.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ registration_form.email.errors }}
                    {{ registration_form.email.label_tag }}
                    {{ registration_form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ registration_form.password1.errors }}
                    {{ registration_form.password1.label_tag }}
                    {{ registration_form.password1 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ registration_form.password2.errors }}
                    {{ registration_form.password2.label_tag }}
                    {{ registration_form.password2 }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ profile_form.phone_number.errors }}
                    {{ profile_form.phone_number.label_tag }}
                    {{ profile_form.phone_number }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ profile_form.street1.errors }}
                    {{ profile_form.street1.label_tag }}
                    {{ profile_form.street1 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ profile_form.street2.errors }}
                    {{ profile_form.street2.label_tag }}
                    {{ profile_form.street2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ profile_form.town_or_city.errors }}
                    {{ profile_form.town_or_city.label_tag }}
                    {{ profile_form.town_or_city }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-input">
                    {{ profile_form.county.errors }}
                    {{ profile_form.county.label_tag }}
                    {{ profile_form.county }}
                </div>
                <div class="col-xs-6 form-input">
                    {{ profile_form.postcode.errors }}
                    {{ profile_form.postcode.label_tag }}
                    {{ profile_form.postcode }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ profile_form.country.errors }}
                    {{ profile_form.country.label_tag }}
                    {{ profile_form.country }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class='btn btn-primary' type='submit'>Register</button>
                    <span style='font-style: italic;'>* Required</span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}