{% extends 'base.html' %}
{% block page_heading %}Basket{% endblock %}

{% block content %}
<!-- List of tickets -->
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        {% if ticket_count == 0 %}
        <div class="row">
            <div class="col-xs-12">
                <p>There are no tickets currently in your basket. Why not visit the <a href="{% url 'tracker' filter_type='all' filter_sort='dateTimeCreated' current_page=1 %}">Ticket Tracker</a> and browse the features</p>
            </div>
        </div>
        {% else %}
        {% for ticket in cart_tickets %}
        <div class="row">
            <div class="col-xs-12">
                <h3 class="tracker-ticket-title">#{{ ticket.id }} {{ ticket.ticket.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ ticket.ticket.description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <form method='POST' action="{% url 'adjust_pledge' ticket.id %}">
                    {% csrf_token %}
                    <div class="form-input-pledge">
                        <span>£</span>
                        <input name="pledge" type="number" min="5" max="99999999" placeholder="£ Pledge"
                            value="{{ ticket.pledge }}" step="0.01">
                        <button class="btn btn-primary" action='submit'>Adjust Pledge</button>
                        <a class="btn btn-warning" href="{% url 'delete_ticket' ticket.id %}">Remove</a>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Checkout and total -->
{% if ticket_count != 0 %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        <div class="row">
            <div class="col-xs-6 content-left">
                <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
            </div>
            <div class="col-xs-6 content-right">
                <p>Total <strong>£{{ total_pledge }}</strong> for {{ ticket_count }} ticket(s)</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}