{% extends 'base.html' %}
{% block page_heading %}Password Reset{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <p>Please provide the email address linked to your account and we will send you instructions to reset your password</p>
        <p>Please ensure you enter the correct email address or we will be unable to provide you with assistance</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}