{% extends 'base.html' %}
{% block page_heading %}Reset Your Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <p>Please enter and confirm your new password</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}