{% extends 'base.html' %}
{% block page_heading %}{{ header }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 section-box">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ create_ticket_form.title.errors}}
                    {{ create_ticket_form.title.label_tag }}
                    {{ create_ticket_form.title}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ create_ticket_form.description.errors}}
                    {{ create_ticket_form.description.label_tag }}
                    {{ create_ticket_form.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class='btn btn-primary' type='submit'>Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}