{% extends 'base.html' %}
{% block page_heading %}Edit Ticket{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 section-box">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ edit_ticket_form.title.errors}}
                    {{ edit_ticket_form.title.label_tag }}
                    {{ edit_ticket_form.title}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-input">
                    {{ edit_ticket_form.description.errors}}
                    {{ edit_ticket_form.description.label_tag }}
                    {{ edit_ticket_form.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{ edit_ticket_form.ticket_type.errors}}
                    {{ edit_ticket_form.ticket_type.label_tag }}
                    {{ edit_ticket_form.ticket_type}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class='btn btn-primary' type='submit'>Save</button>
                    <a class="btn btn-primary" href="{% url 'ticket_details' ticket.id %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}