{% extends 'base.html' %}
{% block page_heading %}Support this feature{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 section-box">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="tracker-ticket-title">{{ ticket.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ ticket.description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <p>Please enter the amount you would like to pledge and proceed to the checkout</p>
                <p>Please note, there is a minumum pledge of £5.00. Thank you for the support! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form method='POST' action="{% url 'add_to_cart' ticket.id %}">
                    {% csrf_token %}
                    <div class="form-input-pledge">
                        <input name="pledge" type="number" min="5" max="999" step="0.01" placeholder="£ Pledge">
                        <button class="btn btn-primary" action='submit'>Pledge</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}