{% extends 'base.html' %}
{% block page_heading %}Ticket Tracker{% endblock %}

{% block content %}
<!-- Filter options -->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 section-box">
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6">
                    {{ filter_form.ticket_type.errors }}
                    {{ filter_form.ticket_type.label_tag }}
                    {{ filter_form.ticket_type }}
                </div>
                <div class="col-xs-6">
                    {{ filter_form.sort_by.errors }}
                    {{ filter_form.sort_by.label_tag }}
                    {{ filter_form.sort_by }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="{% url 'new_ticket' ticket_type='bug' %}" class="btn btn-primary">Log a bug</a>
                    <a href="{% url 'new_ticket' ticket_type='feature' %}" class="btn btn-primary">Request a
                        feature</a>
                </div>
                <div class="col-xs-6 content-right">
                    <button class='btn btn-primary' type='submit'>Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- List of tickets -->
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 section-box">
        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    {% if tickets.count != 0 %}
                    {% for ticket in tickets %}
                    <a href="{% url 'ticket_details' pk=ticket.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading tracker-ticket-title">#{{ ticket.id }}
                            {{ ticket.title.capitalize }}</h4>
                        <p class="list-group-item-text tracker-ticket-date">Created on {{ ticket.dateTimeCreated }} by
                            {{ ticket.userID }}
                        </p>
                        <hr>
                        <div class="row tracker-info-row">
                            <div class="col-xs-6 content-left">
                                <div class="tracker-ticket-type">{{ ticket.ticket_type.capitalize }}</div>
                                {% if ticket.status == 'reviewing' %}
                                <div class="tracker-ticket-status-reviewing">{{ ticket.status.capitalize }}</div>
                                {% elif ticket.status == 'in progress' %}
                                <div class="tracker-ticket-status-inprogress">{{ ticket.status.capitalize }}</div>
                                {% elif ticket.status == 'closed' %}
                                <div class="tracker-ticket-status-closed">{{ ticket.status.capitalize }}</div>
                                {% endif %}
                            </div>
                            <div class="col-xs-6 content-right">
                                <span class="tracker-ticket-info"><i class="glyphicon glyphicon-eye-open"></i>
                                    {{ ticket.views }}</span>
                                {% if ticket.ticket_type == 'feature' %}
                                <span class="tracker-ticket-info"><i
                                        class="glyphicon glyphicon-gbp"></i>{{ ticket.value }} paid</span>
                                {% else %}
                                <span class="tracker-ticket-info"><i class="glyphicon glyphicon-thumbs-up"></i>
                                    {{ ticket.upvotes }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 content-right">
                                <span class="tracker-ticket-date">Last updated by {{ ticket.lastUpdatedBy }} on
                                    {{ ticket.lastUpdatedDateTime }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12 content-center">
                        <ul class="pagination">
                            {% for page in pages %}
                            <li><a href="{% url 'tracker' filter_type filter_sort page  %}">{{ page }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-xs-12">
                        <p>There are no open tickets! Try changing the filter or why not log a new <a
                                href="{% url 'new_ticket' ticket_type='bug' %}">bug</a> or <a
                                href="{% url 'new_ticket' ticket_type='feature' %}">feature</a>?</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}