// Variables
$section-colour: #94cef0;

// Mixins


// Generic styles
.page-heading{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}

.page-section{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.section-box{
    border: 1px solid $section-colour;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 50px;
}

.content-left{
    text-align: left;
}

.content-right{
    text-align: right;
}

.content-center{
    text-align: center;
}

// forms
.form-input input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border-width: 1px;
    height: 38px;
    font-size: 14px;
    outline: none;
}

.form-input-pledge input{
    width: 50%;
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border-width: 1px;
    height: 38px;
    font-size: 14px;
    outline: none;
}
.form-dropdown{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    background-color: transparent;
}

.form-textbox{
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(202, 202, 202);
}

// navbar
.navbar{
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    margin-bottom: 0;
}

// footer
.footer-section{
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    color: white;
    border: 1px solid #2fa4e7;
    border-radius: 5px;
    padding-top: 30px;
}

.footer-section a{
    color: white;
}

.footer-section ul{
    list-style: none;
}

// home page
.user-avatar{
    border-radius: 50%;
    height: width;
    width: 100%;
    margin: 0 20px;
}

.review-section{
    margin-bottom: 50px;
}

.review-text{
    font-size: 12px;
    margin-top: 50px;
    text-align: left;
    font-style: italic;
}

// ticket tracker
.tracker-ticket-title{
    font-size: 25px;
    color: black;
}

.tracker-ticket-date{
    font-size: 12px;
    color: rgb(105, 105, 105);
    font-style: italic;
}

.tracker-ticket-type{
    background-color: rgb(82, 145, 204);
    border: 1px solid rgb(31, 76, 117);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-reviewing{
    background-color: rgb(228, 149, 3);
    border: 1px solid rgb(138, 92, 6);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-inprogress{
    background-color: rgb(2, 172, 2);
    border: 1px solid rgb(13, 105, 4);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-closed{
    background-color: rgb(131, 131, 131);
    border: 1px solid rgb(48, 48, 48);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-info{
    margin-left: 5px;
    font-size: 15px;
}

.tracker-info-row{
    margin-bottom: 10px;
}

// ticket details
.ticket-title{
    font-size: 30px;
    color: black;
    margin-top: 0;
}

.ticket-heading{
    font-size: 18px;
    color: black;
}

.ticket-description{
    color: rgb(24, 24, 24)
}

.comment-row{
    height: 150px;
}

.comment-username{
    font-size: 17px;
}

.comment-time{
    font-size: 12px;
    font-style: italic;
}

.comment-body{
    font-size: 14px;
}