// Variables
$section-colour: #94cef0;

// Mixins
@mixin min768 {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

// Generic styles
.page-heading{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}

.page-section{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.section-box{
    border: 1px solid $section-colour;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 50px;
}

.content-left{
    text-align: left;
}

.content-right{
    text-align: right;
}

.content-center{
    text-align: center;
}

.xs-button-row{
    margin-bottom: 10px;
}

.spacer-small{
    width: 30px;
    height: 2px;
    border: none;
    border-radius: 2px;
    background-color: $section-colour;
    margin-top: 50px;
    margin-bottom: 50px;
}

// forms
.form-input input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border-width: 1px;
    height: 38px;
    font-size: 14px;
    outline: none;
}

.form-input-pledge input{
    width: 45%;
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border-width: 1px;
    height: 38px;
    font-size: 14px;
    outline: none;
}
.form-dropdown{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    background-color: transparent;
}

.form-textbox{
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(202, 202, 202);
}

.info-text{
    text-align: justify;
}

// navbar
.navbar{
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    margin-bottom: 0;
}

// footer
.main-container{
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.footer-section{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    color: white;
    border: 1px solid #2fa4e7;
    border-radius: 5px;
    padding-top: 30px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-section a{
    color: white;
}

.footer-section ul{
    list-style: none;
}

html,
body {
    height: 100%;
    position: relative;
}

// home page
.user-avatar{
    border-radius: 50%;
    height: width;
    width: 100%;
    margin: 0;
}

.review-section{
    margin-bottom: 10px;
}

.review-text{
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
    font-style: italic;
}

// ticket tracker
.tracker-ticket-title{
    font-size: 15px;
    color: black;
}

.tracker-ticket-date{
    font-size: 9px;
    color: rgb(105, 105, 105);
    font-style: italic;
}

.tracker-ticket-type{
    background-color: rgb(82, 145, 204);
    border: 1px solid rgb(31, 76, 117);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-reviewing{
    background-color: rgb(228, 149, 3);
    border: 1px solid rgb(138, 92, 6);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-inprogress{
    background-color: rgb(2, 172, 2);
    border: 1px solid rgb(13, 105, 4);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-status-closed{
    background-color: rgb(131, 131, 131);
    border: 1px solid rgb(48, 48, 48);
    border-radius: 2px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.tracker-ticket-info{
    margin-left: 5px;
    font-size: 13px;
}

.tracker-info-row{
    margin-bottom: 10px;
}

// ticket details
.ticket-title{
    font-size: 20px;
    color: black;
    margin-top: 0;
}

.ticket-heading{
    font-size: 18px;
    color: black;
}

.ticket-description{
    font-size: 12px;
    color: rgb(24, 24, 24)
}

.comment-row{
    height: 70px;
}

.comment-username{
    font-size: 17px;
}

.comment-time{
    font-size: 12px;
    font-style: italic;
}

.comment-body{
    font-size: 14px;
}

// Analytics page
#closed-chart-mobile .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg) translate(-10px, -13px);
}

.dc-legend {
    font-size: 8px !important;
}

// Media Queries
@include min768 {
    .tracker-ticket-title{
        font-size: 25px;
        color: black;
    }

    .ticket-title{
        font-size: 30px;
        color: black;
        margin-top: 0;
    }

    .tracker-ticket-date{
        font-size: 12px;
        color: rgb(105, 105, 105);
        font-style: italic;
    }

    .tracker-ticket-info{
        margin-left: 5px;
        font-size: 15px;
    }

    .comment-row{
        height: 150px;
    }

    .main-container{
        min-height: 100vh;
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 150px;
    }
    
    .footer-section{
        height: 150px;
        width: 100%;
        background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
        color: white;
        border: 1px solid #2fa4e7;
        border-radius: 5px;
        padding-top: 30px;
    }
}