// Variables
$section-colour: #94cef0;

// Mixins


// Generic styles
.page-heading{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}

.page-section{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.section-box{
    border: 1px solid $section-colour;
    border-radius: 5px;
    padding: 30px 30px;
    margin-bottom: 50px;
}

.content-left{
    text-align: left;
}

.content-right{
    text-align: right;
}

.content-center{
    text-align: center;
}

// navbar

.navbar{
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    margin-bottom: 0;
}

// footer
.footer-section{
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#9dcbe6, #2fa4e7 60%, #147cb8);
    color: white;
    border: 1px solid #2fa4e7;
    border-radius: 5px;
    padding-top: 30px;
}

.footer-section a{
    color: white;
}

.footer-section ul{
    list-style: none;
}

// home page
.user-avatar{
    border-radius: 50%;
    height: width;
    width: 100%;
    margin: 0 20px;
}

.review-section{
    margin-bottom: 50px;
}

.review-text{
    font-size: 12px;
    margin-top: 50px;
    text-align: left;
    font-style: italic;
}